
.AI-output {
    position: absolute;
    left: 20vw;
    top: 10vw;
    width: 60vw;
    height: 80vh;

    border: solid black;
    border-radius: 8px;

    background-color: white;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5em;

    /* padding: 25px; */
    padding: 60px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;

    color: black;
}

.AI-output h1{
    padding: 0 20 20 20px;
    padding-bottom: 1rem;
    font-size: 2rem;
    line-height: 1.5em;
}

.AI-output h2{
    padding: 0 0 20 20px;
    font-size: 1.5rem;
}

.AI-output p{
    padding: 0 0 20 20px;
    font-size: 1rem;
    padding-bottom: 1rem;
}

.AI-output li{
    padding: 0 0 20 20px;
    font-size: 1rem;
    padding-bottom: 1rem;
}


.ai-response {
    padding-top: 20px;
}

.ai-scrollBox {
    overflow: auto;
    /* visibility: hidden; */
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
}

#copy-button, 
#filler-box{
    padding: 10px;
    height: 80px;
    width: 80px;
    background-color: white; 
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#copy-button:hover {
    background-color: rgba(29, 25, 25, 0.15);
    cursor: pointer;
}

#copy-button img {
    height: 100%;
}

#copy-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#title-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}