
.AI-output {
    position: absolute;
    left: calc(50vw - 500px);
    top: calc(50vh - 250px);
    width: 1000px;
    height: 700px;

    border: solid black;
    border-radius: 8px;

    background-color: antiquewhite;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16.5px;
    line-height: 1.5em;

    padding: 25px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}

.AI-output h2{
    padding: 0 20 20 20px;
    font-size: 30px;
    /* background: blue; */
}

