/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap'); */

.container {
    width: 100%;
    min-height: 50vh;
    padding: 3% 5% 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #030B32;
    /* background-image: linear-gradient(rgba(0,8,51,0.9),rgba(0,8,51,0.9)), url(AI.png); */
    background-position: center;
    background-size: cover;

    transition: height 3s linear 0s;
}

/* 
.container:active {  
     transition: height 3s linear 0s; 
    min-height: 100vh;
 }
 */


 
h1 {
    color: whitesmoke;
    padding: 5% 0%;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    
}

.youtube-search {
    display: flex;
    justify-content: center;
    width: 100%
}


.search-bar {
    width: 100%;
    max-width: 700px;
    background: whitesmoke;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 5px 10px;
    backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 20px;
    font-size: 20px;
    color: grey
}

::placeholder {
    color: grey;
}

.search-bar button img{
    width: 25px;

}

.search-bar button {
    border: 0px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #58629b;
    cursor: pointer;
}
