

#generate-button {
    position: absolute;
    left: calc(50vw - 200px);
    bottom: 100px;

    background-color: green;

    height: 90px;
    width: 400px;

    border: solid black;
    border-radius: 8px;

    font-size: 30px;
    font-weight: 600;
}

/* #generate-button button {
    height: 100%;
    width: 60%;
} */

#generate-button img {
    height: 20px;
    padding: 0 10px;
}