

.generate-button {
    position: absolute;
    left: calc(50vw - 200px);
    bottom: 100px;
    background-color: green;
    height: 90px;
    width: 400px;
    border: solid black;
    border-radius: 8px;
    font-size: 30px;
    font-weight: 600;
    color: black;
}

.generate-button img {
    height: 20px;
    padding: 0 10px;
    color: black;
}

.generate-button.nothing-selected {
    background-color: rgba(0,128,0, 0.586);
    color: rgba(0, 0, 0, 0.586);
    border-color: rgba(0, 0, 0, 0.586);
}

.generate-button.nothing-selected img {
    color: rgba(0, 0, 0, 0.586);
}

.generate-button:hover{
    cursor: pointer;
}

.generate-button.nothing-selected:hover {
    box-shadow: 0 3px 10px rgb(0,0,0);
}