@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    /* font-family: 'Poppins', sans-serif;  */
}
.js-container {
    /* font-family: 'Poppins', sans-serif; */
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    width: 100%;
}

 #settings.hidden *,
 #transcript.hidden *,
 #generate-button.hidden,
 #search.hidden,
 #AI-output.hidden,
 #back-button.hidden,
 #url-error.hidden,
 #no-script.hidden,
 #s-bar.hidden,
 #main-heading.hidden,
 #gptholder.hidden,
 #gptlogo.hidden {
  display: none;
  background: none
}

.found {
    position: absolute;
    top: 0;
    padding: 5% 0%;
}

.help-button {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    padding: 5px;
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif; 
    font-size: 30px;
    background-color: transparent;
}

.help-button img {
    height: 100%;
}

.help-button:hover{
    background-color: rgba(29, 25, 25, 0.15);
    box-shadow: 0 3px 10px rgb(255 255 255);
    cursor: pointer;
}


.back-button {
    position: absolute;
    top: 15vh;
    left: 5vw;
    height: 75px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    background-color: none;
}


.back-button img {
    height: 100%;
}

.back-button p {
    color: white;
    font-family: 'Poppins', sans-serif; 
    font-size: 30px;
    z-index: 2;
}

.top-row {
    position: fixed;
    top: 5vh;
    left: 5vw;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.logo {
    height: 70px;
    padding: 10px;
    border-radius: 10px;
}


.logo img {
    height: 100%;
}

.personal-links {
    position: absolute;
    bottom: 50px;
    right: 50px;
    height: 60px;
    width: 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.personal-links img {
    height: 100%;
}

.github {
    height: 100%;
    border-radius: 50%;
}

.linkedin {
    height: 100%;
    border-radius: 10px;
}

.github.dark:hover, 
.linkedin.dark:hover{
    box-shadow: 0 3px 10px rgb(255 255 255);
    cursor: pointer;
}

.github.light:hover, 
.linkedin.light:hover
/* .back-button.light:hover */
{
    box-shadow: 0 3px 10px rgb(255, 255, 255);
    cursor: pointer;
}

.logo:hover,
.back-button:hover {
    cursor: pointer;
}

/* REMOVE THE ANNOYING BLUE FROM FORMS */

/* input:-internal-autofill-selected {
    background-color: transparent;
} */

/* input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: none;
    color: fieldtext !important;
} */

input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: transparent !important;
    color: fieldtext !important;
}