@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; /* Use the imported 'Poppins' font, fall back to sans-serif */
}

/* .hidden *, .hidden {
    display: none;
    background-color: transparent;
 } */


 #settings.hidden *,
 #transcript.hidden *,
 #generate-button.hidden,
 #search.hidden,
 #AI-output.hidden {
  display: none;
  /* background-color: none; */
  background: none
}

.js-container {
    width: 100%;
}

.found {
    position: absolute;
    top: 0;
    /* color: black; */
    padding: 5% 0%;
}

/* .transition-background {
     transition: property duration timing delay; 
    transition: height 2s linear 0s;
  } 

  */