.settings {
    position: absolute;
    left: calc(50vw - 600px);
    top: 25%;

    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 1200px;
}

.border-area {
    width: 100%;
    border-radius: 8px;
    border: solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    height: 420px;
    background-color: rgba(255, 255, 255, 0.35);
}

.settings h2 {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 15px;
}
.btn-group {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.left-btn-group, .right-btn-group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 230px;
    height: 100%;
}



.btn-group button {
    padding: 5px;
    margin: 5px;
    font-size: 15px;
    border-radius: 8px;
}

/* CUSTOM PROMPT BAR */

.custom-prompt {
    width: 100%;
    margin: 15px;
    display: flex;
    justify-content: center;
}


.prompt-bar {
    width: 90%;
    height: 40px;
    max-width: 700px;
    background: white;
    border: solid 1px rgba(0, 0, 0, 0.686);
    backdrop-filter: blur(4px) saturate(180%);
    /* background: rgba(255, 255, 255, 0.686); */
    border-radius: 30px;
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
} 

.btn-group .selected {
    background-color: #3d8cb0;
    color: white;
    font-weight: 400;
}

.prompt-bar.selected {
    /* background: red; */
    background-color: #3d8cb0;
    border: 2px solid rgba(0, 0, 0, 0.686);
}

.message {
    background-color: transparent;
    /* flex: 1; */
    width: 100%;
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: 15px;
    color: black;
    /* color: rgba(0, 0, 0, 0.686);  */
}


.prompt-bar ::placeholder { 
    font-size: 15px;
    color: rgba(0, 0, 0, 0.686);
}


/* .prompt-bar button img{
    width: 20px;
}  */

 /* .prompt-bar button {
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #58629b;
    cursor: pointer;
}   */

.transcript {
    /* margin: 0 30px; */
    height: 420px;
    width: 550px;
    /* background-color: #002d80; */
}