.text-block {
    width: 100%;
    height: 50px;
    background-color: white;
    padding: 0 20 0 20px;
    border-radius: 8px;
    border: solid black;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: height 0.5s linear 0s;
}

.text-block.revealed {
    height: 100%;
}

.text-block:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.text-block.revealed:hover {
    background-color: white;
    transform: 0.5s;
}


/* .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.title form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transcript h2 {
    font-size: 25px;
    font-weight: 500;
    padding: 15px;
    /* color: blue; */
}


#left-arrow, #right-arrow {
    height: 15px;
    padding: 0px 20px;
    transition: transform 0.5s;
}


.scrollbox {
    overflow: auto;
    padding-right: 15px;
    visibility: hidden;
}

.scrollbox-inner, 
.scrollbox:hover {
    visibility: visible;
}

::-webkit-scrollbar {
    width: 5px;

}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
}
